:root {
  --border: #cdcdcd;
  --background: #f9f9fb;
  --error: #d30038;
  --hover: #e3e6e8;
  --text-primary: #000000;
  --text-secondary: #595959;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
